<h3 class="isMobile">{{ title }}</h3>
<ng-container *ngIf="favoritesAttractions.length > 0; else noData">
    <button class="btn btn-danger" type="button" (click)="onClear()" margin-right>
        {{ appConstant.Common.CLEAR_LOCAL_STORAGE }}
    </button>

    <button class="btn btn-danger" type="button" (click)="onRemoveFavoritesAttractions()">
        {{ appConstant.Common.REMOVE_FROM_FAVORITES }}
    </button>

    <form #f="ngForm" class="overflow-x">
        <table class="table" margin-top>
            <thead>
                <tr>
                    <td width="5%"></td>
                    <td>Action</td>
                    <td>{{ appConstant.AttractionText.NAME }}</td>
                    <td>{{ appConstant.AttractionText.DISTICT }}</td>
                    <td>{{ appConstant.AttractionText.HOUSEHOLDS }}</td>
                    <td>{{ appConstant.AttractionText.PERSONS }}</td>
                    <td>{{ appConstant.AttractionText.FLOORS }}</td>
                    <td>{{ appConstant.AttractionText.PROGRESS }}</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attraction of filteredPageAttractions; let i = index;">
                    <td>
                        <input type="checkbox" [checked]="attraction.isSelected" name="id{{ i }}" ngModel
                            [(ngModel)]="attraction.isSelected">
                    </td>
                    <td> <button class="btn btn-primary " type="button" (click)="onEdit(attraction, i)">
                            {{ appConstant.Common.EDIT }}
                        </button>
                    </td>
                    <td> <span>{{ attraction.name }}</span></td>
                    <td><span>{{ attraction.distict }}</span></td>
                    <td><span>{{ attraction.houseHolds }}</span></td>
                    <td><span>{{ attraction.persons }}</span></td>
                    <td><span>{{ attraction.floors }}</span></td>
                    <td><span>{{ attraction.progress }}</span></td>
                </tr>
            </tbody>
        </table>
    </form>
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" (click)="changePage('previous')">
                    {{ appConstant.PaginationText.PREVIOUS }}
                </a>
            </li>
            <div class="d-flex overflow-x">
                <li class="page-item" [ngClass]="{'active': page === pagination.pageStart}"
                    *ngFor="let page of pagination.pageList">
                    <a class="page-link" (click)="changePage('change', page)">{{ page }}</a>
                </li>
            </div>
            <li class="page-item">
                <a class="page-link" (click)="changePage('next')">
                    {{ appConstant.PaginationText.NEXT }}
                </a>
            </li>
        </ul>
    </nav>
</ng-container>

<ng-template #noData>{{ appConstant.Common.NO_LOCAL_STORAGE_DATA }}</ng-template>
<ng-template appPlaceholder></ng-template>